/host-windows/Debug
/host-windows/Release
/host-windows/ipch
*.opensdf
*.sdf
*.suo
*.user
*.o
*.msi
*.wixobj
*.wixpdb
*out/
*~
/host-test/*.pyc
/extension-*.zip
/*.tar.gz
/host-osx/build
/host-osx/chrome-token-signing.xcodeproj/project.xcworkspace/
/host-osx/chrome-token-signing.xcodeproj/xcuserdata/
