<?xml version="1.0" encoding="utf-8"?>
<!--
Chrome Token Signing Native Host

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
-->

<!--
"%WIX%\bin\candle.exe" chrome-token-signing.wxs -dVERSION=1.0.0
"%WIX%\bin\light.exe" -out chrome-token-signing.msi chrome-token-signing.wixobj -v -ext WixUIExtension
    -dWixUILicenseRtf=LICENSE.LGPL.rtf
    -dWixUIDialogBmp=dlgbmp.bmp
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Chrome Token Signing" UpgradeCode="3e52954d-eee4-4dd8-a4f2-318521e3dbd9"
      Id="*" Language="1033" Version="$(var.VERSION)" Codepage="1251" Manufacturer="RIA">
    <Package Keywords="Installer" InstallerVersion="405" Compressed="yes"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="Icon.ico" SourceFile="host-windows\ID.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>
    <UIRef Id="WixUI_Minimal" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFilesFolder'>
        <Directory Id="APPLICATIONFOLDER" Name="Chrome Token Signing">
          <Component Id="Application" Guid="85baa771-7c73-49bb-b546-ab6a4520d258">
            <File Source="$(env.VCINSTALLDIR)\redist\x86\Microsoft.VC120.CRT\msvcp120.dll"/>
            <File Source="$(env.VCINSTALLDIR)\redist\x86\Microsoft.VC120.CRT\msvcr120.dll"/>
            <File Source="$(env.VCINSTALLDIR)\redist\x86\Microsoft.VC120.CRT\vccorlib120.dll"/>
            <File Source="$(env.VCINSTALLDIR)\redist\x86\Microsoft.VC120.MFC\mfc120u.dll"/>
            <File Source="host-windows/Release/chrome-token-signing.exe"/>
            <File Source="host-windows/ee.ria.esteid.json"/>
            <RegistryValue Root='HKLM' Type='string' Value='[APPLICATIONFOLDER]ee.ria.esteid.json'
                Key='SOFTWARE\Google\Chrome\NativeMessagingHosts\ee.ria.esteid'/>
            <RegistryValue Root='HKLM' Type='string' Name="update_url"
                Key='SOFTWARE\Google\Chrome\Extensions\ckjefchnfjhjfedoccjbhjpbncimppeg'
                Value='https://clients2.google.com/service/update2/crx'/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Install" Level="1" Title="Chrome Token Signing" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id="Application"/>
    </Feature>
  </Product>
</Wix>
