/*
 * Chrome Token Signing Native Host
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */

#include <winver.h>

#define VER_STR_HELPER(x)	#x
#define VER_STR(x)		VER_STR_HELPER(x)

VS_VERSION_INFO VERSIONINFO
  FILEVERSION MAJOR_VER,MINOR_VER,RELEASE_VER,BUILD_VER
  PRODUCTVERSION MAJOR_VER,MINOR_VER,RELEASE_VER,BUILD_VER
  FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS VS_FF_DEBUG
#else
  FILEFLAGS 0x0L
#endif
  FILEOS VOS_NT_WINDOWS32
  FILETYPE VFT_APP
  FILESUBTYPE VFT_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "Chrome Token Signing Native Host"
			VALUE "FileVersion", VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER)
			VALUE "InternalName", "chrome-token-signing"
			VALUE "LegalCopyright", "Copyright (C) 2015 Estonian Information System Authority"
			VALUE "OriginalFilename", "chrome-token-signing.exe"
			VALUE "ProductName", "Chrome Token Signing Native Host"
			VALUE "ProductVersion", VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER)
		END
		BLOCK "042504B0"
		BEGIN
			VALUE "CompanyName", "RIA"
			VALUE "FileDescription", "Chrome Token Signing Native Host"
			VALUE "FileVersion", VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER)
			VALUE "InternalName", "chrome-token-signing"
			VALUE "LegalCopyright", "Copyright (C) 2015 Riigi Infosüsteemi Amet"
			VALUE "OriginalFilename", "chrome-token-signing.exe"
			VALUE "ProductName", "Chrome Token Signing Native Host"
			VALUE "ProductVersion", VER_STR(MAJOR_VER.MINOR_VER.RELEASE_VER.BUILD_VER)
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
		VALUE "Translation", 0x425, 1200
	END
END
/* End of Version info */
