Source: chrome-token-signing
Section: web
Priority: extra
Maintainer: RIA <info@ria.ee>
Build-Depends:
 qtbase5-dev,
 debhelper (>= 7),
 pkg-config,
 libpcsclite-dev,
 python,
 xvfb,
 xauth
Standards-Version: 3.9.8
Homepage: https://github.com/open-eid/chrome-token-signing

Package: chrome-token-signing
Architecture: any
Depends: opensc, ${shlibs:Depends}, ${misc:Depends}
Description: Estonian ID Card signing for Chrome and Firefox
 Chrome and Firefox extension and native messaging client.
